div((click)="onClick()").conference.ui.card
    .image
        img(src="{{conference.thumbnail.url}}")
    .content
        a.header {{conference.name}}
        .description
            | {{conference.description}}
