
.ui.grid.stackable
    .six.wide.column(*ngFor="#conference of conferences")
        conference(
            [conference]="conference",
            (onItemSelected)="onConferenceSelected($event)"
        )