h1 Show Conferences

.ui.grid
    .six.wide.column(*ngFor="#conference of conferences")
        | {{conference.name}}
        conference(
            [conference]="conference",
            (onItemSelected)="onConferenceSelected($event)"
        )